/* fonts */

@font-face {
  font-family: 'Roboto Slab';
  src: url('./fonts/RobotoSlab-Regular.eot');
  src: local('☺'), url('./fonts/RobotoSlab-Regular.woff') format('woff'),
    url('./fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.eot');
  src: local('☺'), url('./fonts/Montserrat-Regular.woff') format('woff'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.eot');
  src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* general */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  color: #555;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.block {
  padding: 90px 0;
}

.block_gray {
  background-color: #f8f8f8;
}

.block_red {
  background-color: #c0301c;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

.button {
  position: relative;
  box-sizing: content-box;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  padding: 0 30px;
  cursor: pointer;
  transition: 1s all ease;
  overflow: hidden;
  z-index: 0;
  outline: none;
}

.button:hover {
  color: #555;
  background-color: #fff;
}

.title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  position: absolute;
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  left: calc(50% - 25px);
  bottom: -2px;
  background: #555;
}

.subtitle {
  font-size: 16px;
  line-height: 70px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  visibility: hidden;
  transition: background-color 1s ease;
}

.arrow-up {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 100px;
  right: 60px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(224, 215, 214, 0.4);
  opacity: 1;
  transition: transform 0.5s, padding 0.5s, opacity 2s;
  cursor: pointer;
}

.arrow-up:hover {
  padding: 0 5px 10px;
  background-color: rgba(224, 215, 214, 1);
  transform: scale(1.1);
}

.arrow-up__img {
  width: 100%;
  height: 100%;
}

.arrow-up_hidden {
  visibility: hidden;
  opacity: 0;
}

.lock-scroll {
  overflow: hidden;
}

/* header */

.header {
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background: no-repeat center url(./img/header-bg.png);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.header__top {
  justify-content: space-between;
  align-items: center;
}

.logo__link,
.logo__img {
  display: block;
  margin: 0 auto;
}

.menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.menu__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-left: 32px;
}

.menu__link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 1.5px;
  left: 50%;
  bottom: -5px;
  background: #fff;
  transition: 0.6s all ease;
  transform: translateX(-50%);
}

.menu__link:hover::after {
  width: 100%;
}

.burger-menu {
  display: flex;
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #c0301c;
  color: #fff;
  z-index: 1;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
}

.burger-menu_active {
  display: flex;
  top: 0;
}

.burger-menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.burger-toggler {
  display: none;
  width: 25px;
  height: 25px;
  align-items: center;
  z-index: 2;
}

.burger-toggler__line {
  position: relative;
  width: 100%;
  height: 5px;
  background: #fff;
}

.burger-toggler__line::before,
.burger-toggler__line::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  transition: top 0.2s 0.2s, transform 0.3s;
}

.burger-toggler__line::before {
  top: -10px;
}

.burger-toggler__line::after {
  top: 10px;
}

.burger-toggler_active .burger-toggler__line {
  background: transparent;
  transition: 0.2s;
}

.burger-toggler_active .burger-toggler__line::before {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.2s, transform 0.3s ease 0.2s;
}

.burger-toggler_active .burger-toggler__line::after {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.2s, transform 0.3s ease 0.2s;
}

.header__content {
  margin-top: 250px;
}

.header__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: 20px;
  margin: 15px 0px 70px;
}

/* services */

.services {
  text-align: center;
}

.services__inner {
  justify-content: space-between;
}

.services__block {
  flex-basis: 30%;
}

.services__block-img {
  display: block;
  margin: 25px auto;
}

.services__block-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.services__block-text {
  font-size: 13px;
  line-height: 24px;
}

/* about */

.about {
  text-align: center;
}

.about__inner {
  justify-content: space-between;
}

.about__text {
  flex: 0 1 45%;
  font-size: 14px;
  line-height: 24px;
  margin: 65px 0;
}

.carusel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carusel__slide {
  display: flex;
  transition: all 0.5s;
}

.carusel__item {
  flex: 0 0 22%;
}

.carusel__item + .carusel__item {
  margin-left: 4%;
}

.carusel__item-inner {
  position: relative;
}

.carusel__item-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
}

.carusel__item-subtitle {
  font-size: 13px;
}

.carusel__item-img {
  display: block;
  width: 100%;
}

.carusel__item-inner:hover .carusel__item-overlay {
  visibility: visible;
  background-color: rgba(136, 136, 136, 0.6);
}

.carusel__item-socials {
  position: relative;
  top: 75%;
  justify-content: center;
}

.socials__inner {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}

.socials__inner:hover {
  background-color: #c0301c;
}

.arrow {
  position: absolute;
  width: 35px;
  height: 40px;
  padding: 12.5px 12.5px;
  background-color: #8c8c8c;
  cursor: pointer;
  z-index: 1;
  top: 30%;
}

.arrow:hover {
  background-color: #c0301c;
}

.arrow_left {
  left: 0;
}

.arrow_right {
  right: 0;
}

.arrow_disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* portfolio */

.portfolio {
  align-items: center;
}

.filter {
  font-size: 16px;
  justify-content: center;
  margin: 30px auto 60px;
}

.filter__item {
  cursor: pointer;
}

.filter__item + .filter__item {
  margin-left: 25px;
}

.filter__item:hover,
.filter__item_active {
  color: #c0301c;
}

.portfolio__items {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__item {
  position: relative;
  margin-bottom: 30px;
  width: 31%;
}

.portfolio__item-img {
  display: block;
  width: 100%;
}

.portfolio__item_disabled {
  pointer-events: none;
  filter: blur(5px);
  transform: scale(0.8);
  transition: all 0.5s;
}

.portfolio__item-overlay {
  width: 100%;
  padding: 100px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__item:hover .portfolio__item-overlay {
  background-color: rgba(192, 48, 28, 0.5);
  visibility: visible;
}

.portfolio__item-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
}

.portfolio__item-subtitle {
  font-size: 12px;
  line-height: 24px;
  margin: 15px 20px;
}

.portfolio__item-more {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 40px 15px 20px;
  background-color: #fff;
  color: #c0301c;
  cursor: pointer;
}

.portfolio__item-more::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 15px;
  top: calc(50% - 15 / 2);
  right: 15px;
  background-image: url(img/next.svg);
  transition: all 0.5s ease;
}

.portfolio__item-more:hover::after {
  right: 10px;
}

/* advert */

.advert {
  color: #fff;
  text-align: center;
  background: url(img/advert_bg.png) no-repeat 0, 0 rgba(192, 48, 28, 1);
}

.advert__title {
  font-size: 30px;
  line-height: 44px;
}

.advert__title-upper {
  text-transform: uppercase;
}

.advert__btn {
  margin-top: 50px;
}

/* blog */

.blog__inner {
  justify-content: center;
}

.post {
  padding: 40px 0;
}

.post:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.post__img {
  display: block;
  margin-right: 35px;
}

.post__header {
  margin-bottom: 30px;
}

.post__date {
  width: 75px;
  height: 75px;
  border: 2px solid #555;
  color: #777;
  margin-right: 25px;
  font-weight: bold;
  float: left;
  justify-content: center;
  align-items: center;
}

.post__date-number {
  font-size: 24px;
}

.post__date-month {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.post__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0;
  color: #c0301c;
}

.post__subtitle {
  font-size: 13px;
  font-style: italic;
  line-height: 24px;
}

.post__text {
  font-size: 14px;
  line-height: 24px;
}

.post__more {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  background: transparent;
  color: #777;
  border: none;
  cursor: pointer;
  outline: none;
}

.post__more:hover {
  color: #c0301c;
}

/* clients */

.clients {
  text-align: center;
}

.clients__images {
  justify-content: space-evenly;
  align-items: center;
}

.clients__img {
  display: block;
}

.slider {
  position: relative;
  max-width: 800px;
  height: 200px;
  margin: 55px auto 30px;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.9s;
}

.slider__item_active {
  opacity: 1;
}

.quote {
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}

.autor {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.control {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 60px;
  justify-content: space-between;
  margin: auto;
}

.control__dot {
  width: 15px;
  height: 15px;
  background-color: #ddd;
  border-radius: 50%;
  transition: transform 0.4s;
  cursor: pointer;
}

.control__dot:hover {
  background-color: rgba(192, 48, 28, 0.2);
  transform: scale(1.1);
}

.control__dot_active {
  background-color: #c0301c;
}

/* contacts */

.contacts__subtitle {
  margin-bottom: 60px;
}

.info__item {
  position: relative;
  min-width: 250px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.info__item::before {
  position: absolute;
  content: '';
  display: block;
  width: 15px;
  height: 20px;
  top: 0;
  left: 0;
}

.info__item_address::before {
  background: no-repeat center url(img/address_icon.svg);
}

.info__item_hotline::before {
  background: no-repeat center url(img/phone_icon.svg);
}

.info__item_email::before {
  background: no-repeat center url(img/email_icon.svg);
}

.info__item-title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.info__item-text {
  font-size: 12px;
  line-height: 20px;
}

.form {
  font-size: 12px;
  margin-left: 150px;
}

.form__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__field {
  flex: 0 1 48%;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid #555;
}

.form__field:focus {
  border: 1px solid #c0301c;
  outline: none;
}

.form__field_large {
  flex-basis: 100%;
  min-height: 150px;
  padding: 10px;
}

.form__btn {
  float: left;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 15px 35px;
  color: #c0301c;
  background: transparent;
  border: 1px solid #777;
  cursor: pointer;
}

.form__btn:hover,
.form__btn:active {
  border: 1px solid #c0301c;
  color: #c0301c;
}

.form__remark {
  line-height: 45px;
  vertical-align: middle;
  margin: 0;
}

.form__remark-star {
  color: #c0301c;
}

/* footer */

.footer {
  text-align: center;
  color: #fff;
}

.footer__copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.footer__socials {
  position: relative;
  justify-content: center;
  height: 70px;
  margin: 25px;
}

.footer__socials:after {
  position: absolute;
  content: '';
  width: 55px;
  height: 2px;
  bottom: 0;
  left: calc(50% - 55 / 2);
  background-color: #fff;
}

.footer__icon {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  background: no-repeat center url(img/footer_icon.svg);
  background-size: contain;
}

/* MEDIA */

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }

  .button {
    height: 45px;
    font-size: 14px;
  }

  .block {
    padding: 55px 0;
  }

  .title {
    font-size: 19px;
    line-height: 60px;
  }

  .subtitle {
    font-size: 15px;
    line-height: 50px;
  }

  .header__title {
    font-size: 38px;
  }

  .header__subtitle {
    font-size: 18px;
    margin: 15px 0 60px;
  }

  .header__content {
    margin-top: 220px;
  }

  .menu__link {
    margin-left: 30px;
  }

  .about__text {
    margin: 50px 0;
  }

  .portfolio__item-overlay {
    padding: 40px 0;
  }

  .slider {
    margin: 45px auto 0;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  .button {
    height: 40px;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .block {
    padding: 30px 0;
  }

  .title {
    font-size: 17px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 50px;
  }

  .menu__link {
    font-size: 13px;
    margin-left: 25px;
  }

  .header__title {
    font-size: 35px;
  }

  .header__subtitle {
    font-size: 17px;
  }

  .about__text {
    font-size: 13px;
    line-height: 22px;
    margin: 40px 0;
  }

  .portfolio__item {
    margin-bottom: 25px;
  }

  .slider {
    height: 150px;
    max-width: 650px;
    margin: 35px auto 0px;
  }

  .quote {
    font-size: 14px;
    line-height: 25px;
  }

  .autor {
    font-size: 17px;
  }

  .control {
    bottom: 5px;
  }

  .contacts__inner {
    flex-direction: column;
  }

  .form {
    order: 1;
    margin: 0 20px 70px;
  }

  .form__inner {
    margin-bottom: 10px;
  }

  .form__btn {
    float: left;
    margin-right: 20px;
  }

  .info {
    order: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .info__item {
    min-width: 100px;
  }

  .post {
    padding: 20px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .post__img {
    display: block;
    margin-bottom: 20px;
  }

  .post__date {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .post__text {
    font-size: 12px;
    line-height: 20px;
  }

  .post__subtitle {
    line-height: 16px;
  }

  .post__date-number {
    font-size: 20px;
  }

  .post__date-month {
    font-size: 12px;
    line-height: 17px;
  }

  .post__more {
    font-size: 12px;
    color: #000;
  }

  .advert__title {
    font-size: 24px;
    line-height: 38px;
  }

  .advert__btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }

  .menu {
    display: none;
  }

  .burget-menu {
    display: flex;
  }

  .burger-toggler {
    display: flex;
  }

  .services__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services__block {
    flex-basis: 90%;
  }

  .about__text {
    margin: 20px 0;
  }

  .carusel {
    margin-top: 20px;
  }

  .carusel__item {
    flex-basis: 30%;
  }

  .carusel__item + .carusel__item {
    margin-left: 5%;
  }

  .portfolio__item {
    margin-bottom: 20px;
  }

  .portfolio__item-title {
    font-size: 16px;
    line-height: 20px;
  }

  .portfolio__item-subtitle {
    font-size: 12px;
    line-height: 16px;
    margin: 10px 20px;
  }

  .portfolio__item-more {
    font-size: 13px;
    padding: 10px 40px 10px 20px;
  }

  .filter {
    font-size: 15px;
    margin: 30px auto 40px;
  }

  .clients__images {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .clients__img {
    flex-basis: 26%;
    margin-bottom: 20px;
  }

  .contacts__subtitle {
    margin-bottom: 40px;
  }

  .form {
    margin: 0 0 70px;
  }

  .advert__title {
    font-size: 22px;
    line-height: 34px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .subtitle {
    line-height: 25px;
    margin: 5px 0;
  }

  .arrow-up {
    bottom: 70px;
    right: 40px;
  }

  .header__content {
    margin-top: 150px;
  }

  .about__inner {
    flex-direction: column;
  }

  .about__text {
    font-size: 12px;
    margin: 15px 0;
  }

  .carusel__item {
    flex-basis: 45%;
  }

  .carusel__item + .carusel__item {
    margin-left: 10%;
  }

  .carusel__item-title {
    line-height: 25px;
  }

  .portfolio__items {
    justify-content: space-evenly;
  }
  .portfolio__item {
    flex-basis: 43%;
  }

  .portfolio__item-title {
    font-size: 15px;
    line-height: 18px;
  }

  .portfolio__item-subtitle {
    font-size: 11px;
    line-height: 14px;
    margin: 8px 20px;
  }

  .portfolio__item-overlay {
    justify-content: space-evenly;
  }

  .filter {
    font-size: 14px;
    line-height: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 30px;
  }

  .filter__item + .filter__item {
    margin-left: 15px;
  }

  .slider {
    min-height: 220px;
  }

  .clients__img {
    max-width: 145px;
    flex-basis: 35%;
  }

  .form__field {
    flex-basis: 100%;
  }

  .form__btn {
    float: none;
    display: block;
    width: 100%;
    margin: 0 auto 20px;
  }

  .form__remark {
    line-height: 20px;
  }

  .info {
    flex-direction: column;
  }

  .post__img {
    margin: 10px 0;
    width: 100%;
  }

  .post__title {
    font-size: 15px;
    margin: 0;
  }

  .advert__title {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (max-width: 450px) {
  .carusel__item {
    flex-basis: 100%;
  }

  .socials__inner {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .arrow {
    width: 50px;
    height: 60px;
    padding: 22.5px 20px;
    top: 40%;
    background-color: #8c8c8c;
    cursor: pointer;
    z-index: 1;
  }

  .arrow:hover {
    background-color: #c0301c;
  }

  .arrow_left {
    left: 0;
  }

  .arrow_right {
    right: 0;
  }
}

@media screen and (max-height: 575px) and (orientation: landscape) {
  .header__content {
    margin-top: 100px;
  }
}

@media screen and (min-height: 1050px) {
  .header__content {
    margin-top: 450px;
  }
}
